.switch{
    margin: 10px;
}
.switch:hover{
    background: red !important;
    color:#fff!important ;
    border:none !important;
}
.anystyle ul{
    background: lightblue !important;
    width: fit-content !important;
    padding: 6px !important;
    margin-top: 2px !important;
    border-radius: 7px !important;
    cursor: pointer;
    transition: .3s all ease-out;
}
.anystyle li{
    font-size: 16px;
    padding: 5px 33px;
}
.anystyle li:hover{
    background: black;
    color: white;
    border-radius: 4px;
}